# Python
*.pyc
*.pyo
*.pyd
*.pydistutils.cfg
__pycache__/
.pytest_cache/
*.sqlite3
*.db
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# pyenv
.python-version

# pytest
.cache/

# Coverage reports
coverage.xml
.coverage
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# C extensions
*.so

# Distribution / packaging
.Python
docs/_build/
*.pypirc

# Unit test / coverage reports
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk drives
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# PyCharm
.idea/
*.iml
out/

# Sensetive data
.env
config.json
